* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background: url(./true.png) no-repeat #000C3B;
  background-size: 100%;
  overflow: hidden;
}
/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal {
  /*水平滚动条的样式*/
  width: 5px;
  background-color: #CCCCCC;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.5);
  /*滚动条的背景颜色*/
  -webkit-border-radius: 0;
  /*滚动条的圆角宽度*/
}
::-webkit-scrollbar {
  width: 10px;
  /*滚动条的宽度*/
  height: 8px;
  /*滚动条的高度*/
}
::-webkit-scrollbar-thumb:vertical {
  /*垂直滚动条的样式*/
  height: 50px;
  background-color: rgba(57, 116, 214, 0.3);
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  /*滚动条的hover样式*/
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.page-container .top-title {
  width: 100%;
  height: 100px;
  background: url(./title.png) no-repeat;
  background-size: 100%;
  text-align: center;
  line-height: 80px;
  color: #FFF;
  font-size: 30px;
}
.page-container .top-title .date-time {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  line-height: 35px;
  font-size: 18px;
  padding-right: 20px;
}
.page-container .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-container .content .content-title {
  width: 100%;
  height: 50px;
  color: #FFF;
  font-size: 18px;
}
.page-container .content .list .list-item {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  border-bottom: 1px dashed #ccc;
}
.page-container .content .list .list-item .item {
  width: 33.3%;
  flex: 0 1 auto;
  text-align: center;
  font-size: 16px;
}
.page-container .content .list .list-head .list-item {
  border-bottom: none;
}
.page-container .content .list .list-head .list-item .item {
  color: #6FA2F7;
  font-size: 16px;
  font-weight: bold;
}
.page-container .content .list .list-body {
  overflow-y: auto;
}
.page-container .content .list.real-time .item:first-child {
  width: 30%;
}
.page-container .content .list.real-time .item:nth-child(2),
.page-container .content .list.real-time .item:nth-child(3),
.page-container .content .list.real-time .item:nth-child(4) {
  width: 20%;
}
.page-container .content .left,
.page-container .content .right {
  width: 32%;
  height: 100%;
}
.page-container .content .left.left,
.page-container .content .right.left {
  padding-left: 20px;
}
.page-container .content .left.left .manager-top-5,
.page-container .content .right.left .manager-top-5 {
  width: 100%;
  height: 350px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 30px #07417a;
}
.page-container .content .left.left .manager-top-5 .content-title,
.page-container .content .right.left .manager-top-5 .content-title {
  background: url("./manager-title-background.png") transparent no-repeat;
  background-size: 100%;
}
.page-container .content .left.left .manager-top-5 .manager-content,
.page-container .content .right.left .manager-top-5 .manager-content {
  padding: 0 10px;
  width: 100%;
}
.page-container .content .left.left .manager-top-5 .manager-content .manage-table,
.page-container .content .right.left .manager-top-5 .manager-content .manage-table {
  width: 100%;
  color: #FFF;
  text-align: center;
}
.page-container .content .left.left .manager-top-5 .manager-content .manage-table tr,
.page-container .content .right.left .manager-top-5 .manager-content .manage-table tr {
  height: 35px;
}
.page-container .content .left.left .manager-top-5 .manager-content .manage-table tr td:first-child,
.page-container .content .right.left .manager-top-5 .manager-content .manage-table tr td:first-child {
  width: 120px;
}
.page-container .content .left.left .manager-top-5 .manager-content .manage-table tr td:nth-child(2),
.page-container .content .right.left .manager-top-5 .manager-content .manage-table tr td:nth-child(2) {
  width: 100px;
}
.page-container .content .left.left .price-analyze,
.page-container .content .right.left .price-analyze {
  width: 100%;
  margin-top: 50px;
}
.page-container .content .left.left .price-analyze .price-analyze-container,
.page-container .content .right.left .price-analyze .price-analyze-container {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 30px #07417a;
}
.page-container .content .left.left .price-analyze .price-analyze-container .content-title,
.page-container .content .right.left .price-analyze .price-analyze-container .content-title {
  background: url("./price-title-background.png") transparent no-repeat;
  background-size: 100%;
}
.page-container .content .left.left .price-analyze .price-analyze-container .price-analyze-content,
.page-container .content .right.left .price-analyze .price-analyze-container .price-analyze-content {
  padding: 0 10px 10px 10px;
  overflow: hidden;
}
.page-container .content .left.right,
.page-container .content .right.right {
  padding-right: 20px;
}
.page-container .content .left.right .product-top-5,
.page-container .content .right.right .product-top-5 {
  width: 100%;
  height: 350px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 30px #07417a;
}
.page-container .content .left.right .product-top-5 .content-title,
.page-container .content .right.right .product-top-5 .content-title {
  background: url("./product-title-background.png") transparent no-repeat;
  background-size: 100%;
}
.page-container .content .left.right .product-top-5 .product-content,
.page-container .content .right.right .product-top-5 .product-content {
  padding: 0 10px;
  width: 100%;
}
.page-container .content .left.right .product-top-5 .product-content .product-table,
.page-container .content .right.right .product-top-5 .product-content .product-table {
  width: 100%;
  color: #FFF;
  text-align: center;
}
.page-container .content .left.right .product-top-5 .product-content .product-table tr,
.page-container .content .right.right .product-top-5 .product-content .product-table tr {
  height: 35px;
}
.page-container .content .left.right .product-top-5 .product-content .product-table tr td:first-child,
.page-container .content .right.right .product-top-5 .product-content .product-table tr td:first-child {
  width: 20%;
}
.page-container .content .left.right .product-top-5 .product-content .product-table tr td:nth-child(2),
.page-container .content .right.right .product-top-5 .product-content .product-table tr td:nth-child(2) {
  width: 20%;
}
.page-container .content .left.right .detect-analyze,
.page-container .content .right.right .detect-analyze {
  width: 100%;
  margin-top: 50px;
}
.page-container .content .left.right .detect-analyze .detect-analyze-container,
.page-container .content .right.right .detect-analyze .detect-analyze-container {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 30px #07417a;
}
.page-container .content .left.right .detect-analyze .detect-analyze-container .content-title,
.page-container .content .right.right .detect-analyze .detect-analyze-container .content-title {
  background: url("./detect-title-background.png") transparent no-repeat;
  background-size: 100%;
}
.page-container .content .left.right .detect-analyze .detect-analyze-container .detect-analyze-content,
.page-container .content .right.right .detect-analyze .detect-analyze-container .detect-analyze-content {
  padding: 0 10px 10px 10px;
  overflow: hidden;
}
.page-container .content .middle {
  width: 36%;
  height: 100%;
  position: relative;
}
.page-container .content .middle .money-number {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  box-shadow: inset 0 0 30px #07417a;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.page-container .content .middle .money-number i.corner {
  width: 20px;
  height: 20px;
  border: 2px solid #3974D6;
  position: absolute;
}
.page-container .content .middle .money-number i.corner.topL {
  border-right: none;
  border-bottom: none;
  top: -2px;
  left: -2px;
}
.page-container .content .middle .money-number i.corner.topR {
  border-left: none;
  border-bottom: none;
  top: -2px;
  right: -2px;
}
.page-container .content .middle .money-number i.corner.bottomL {
  border-right: none;
  border-top: none;
  bottom: -2px;
  left: -2px;
}
.page-container .content .middle .money-number i.corner.bottomR {
  border-left: none;
  border-top: none;
  bottom: -2px;
  right: -2px;
}
.page-container .content .middle .money-number .money,
.page-container .content .middle .money-number .number {
  width: 50%;
  flex: 0 1 auto;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page-container .content .middle .money-number .money.money,
.page-container .content .middle .money-number .number.money {
  border-right: 2px solid #346CCB;
}
.page-container .content .middle .money-number .money .money-container,
.page-container .content .middle .money-number .number .money-container,
.page-container .content .middle .money-number .money .number-container,
.page-container .content .middle .money-number .number .number-container {
  display: table;
  height: auto;
}
.page-container .content .middle .money-number .money .money-container .left-part,
.page-container .content .middle .money-number .number .money-container .left-part,
.page-container .content .middle .money-number .money .number-container .left-part,
.page-container .content .middle .money-number .number .number-container .left-part,
.page-container .content .middle .money-number .money .money-container .right-part,
.page-container .content .middle .money-number .number .money-container .right-part,
.page-container .content .middle .money-number .money .number-container .right-part,
.page-container .content .middle .money-number .number .number-container .right-part {
  display: table-cell;
  vertical-align: middle;
}
.page-container .content .middle .money-number .money .money-container .left-part.left-part,
.page-container .content .middle .money-number .number .money-container .left-part.left-part,
.page-container .content .middle .money-number .money .number-container .left-part.left-part,
.page-container .content .middle .money-number .number .number-container .left-part.left-part,
.page-container .content .middle .money-number .money .money-container .right-part.left-part,
.page-container .content .middle .money-number .number .money-container .right-part.left-part,
.page-container .content .middle .money-number .money .number-container .right-part.left-part,
.page-container .content .middle .money-number .number .number-container .right-part.left-part {
  width: 40px;
}
.page-container .content .middle .money-number .money .money-container .left-part.left-part .icon-part,
.page-container .content .middle .money-number .number .money-container .left-part.left-part .icon-part,
.page-container .content .middle .money-number .money .number-container .left-part.left-part .icon-part,
.page-container .content .middle .money-number .number .number-container .left-part.left-part .icon-part,
.page-container .content .middle .money-number .money .money-container .right-part.left-part .icon-part,
.page-container .content .middle .money-number .number .money-container .right-part.left-part .icon-part,
.page-container .content .middle .money-number .money .number-container .right-part.left-part .icon-part,
.page-container .content .middle .money-number .number .number-container .right-part.left-part .icon-part {
  width: 40px;
  height: 40px;
  display: block;
}
.page-container .content .middle .money-number .money .money-container .left-part.left-part .icon-part.icon-money,
.page-container .content .middle .money-number .number .money-container .left-part.left-part .icon-part.icon-money,
.page-container .content .middle .money-number .money .number-container .left-part.left-part .icon-part.icon-money,
.page-container .content .middle .money-number .number .number-container .left-part.left-part .icon-part.icon-money,
.page-container .content .middle .money-number .money .money-container .right-part.left-part .icon-part.icon-money,
.page-container .content .middle .money-number .number .money-container .right-part.left-part .icon-part.icon-money,
.page-container .content .middle .money-number .money .number-container .right-part.left-part .icon-part.icon-money,
.page-container .content .middle .money-number .number .number-container .right-part.left-part .icon-part.icon-money {
  background: url("./money.png") no-repeat;
  background-size: 40px;
}
.page-container .content .middle .money-number .money .money-container .left-part.left-part .icon-part.icon-number,
.page-container .content .middle .money-number .number .money-container .left-part.left-part .icon-part.icon-number,
.page-container .content .middle .money-number .money .number-container .left-part.left-part .icon-part.icon-number,
.page-container .content .middle .money-number .number .number-container .left-part.left-part .icon-part.icon-number,
.page-container .content .middle .money-number .money .money-container .right-part.left-part .icon-part.icon-number,
.page-container .content .middle .money-number .number .money-container .right-part.left-part .icon-part.icon-number,
.page-container .content .middle .money-number .money .number-container .right-part.left-part .icon-part.icon-number,
.page-container .content .middle .money-number .number .number-container .right-part.left-part .icon-part.icon-number {
  background: url("./number.png") no-repeat;
  background-size: 40px;
}
.page-container .content .middle .money-number .money .money-container .left-part.right-part,
.page-container .content .middle .money-number .number .money-container .left-part.right-part,
.page-container .content .middle .money-number .money .number-container .left-part.right-part,
.page-container .content .middle .money-number .number .number-container .left-part.right-part,
.page-container .content .middle .money-number .money .money-container .right-part.right-part,
.page-container .content .middle .money-number .number .money-container .right-part.right-part,
.page-container .content .middle .money-number .money .number-container .right-part.right-part,
.page-container .content .middle .money-number .number .number-container .right-part.right-part {
  text-align: left;
  padding-left: 20px;
  font-size: 24px;
  color: #6FA2F7;
}
.page-container .content .middle .money-number .money .money-container .left-part.right-part .right-part-title,
.page-container .content .middle .money-number .number .money-container .left-part.right-part .right-part-title,
.page-container .content .middle .money-number .money .number-container .left-part.right-part .right-part-title,
.page-container .content .middle .money-number .number .number-container .left-part.right-part .right-part-title,
.page-container .content .middle .money-number .money .money-container .right-part.right-part .right-part-title,
.page-container .content .middle .money-number .number .money-container .right-part.right-part .right-part-title,
.page-container .content .middle .money-number .money .number-container .right-part.right-part .right-part-title,
.page-container .content .middle .money-number .number .number-container .right-part.right-part .right-part-title {
  font-size: 16px;
  margin-bottom: 10px;
  color: #FFF;
}
.page-container .content .middle .real-time-trade {
  width: 100%;
  margin-top: 150px;
}
.page-container .content .middle .real-time-trade .content-title {
  font-size: 24px;
  text-align: center;
  background: url(./title.png) no-repeat;
  background-size: 100%;
}
.page-container .content .middle .real-time-trade .real-time-trade-content {
  width: 90%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 30px #07417a;
  padding: 10px;
  overflow: hidden;
}
/*# sourceMappingURL=marketdatamonitor.css.map */